<div class="alert alert-success" role="alert">
<h1>Showing article Number <%= @article.id %></h1>

<p>Title: <%= @article.title %></p>

<p>Description: <%= @article.description %></p>
</div>
<br>
<p>
<%= link_to "Back to articles listing", articles_path %></p>