<h1>Home</h1>

<%= link_to 'Alpha blog', articles_path %> |
<%= link_to 'About', about_path %>

<br>

<div class="jumbotron col-md-12">
  <h1 id="blogtitle">Alpha Blog</h1>
  
  <div class="container login-buttons">
  <%= link_to 'Log in', login_path, class:"btn btn-success btn-lg" %>
  <%= link_to 'signup', new_user_path, class:"btn btn-success btn-lg" %>
  </div>
  
</div>
