<h1>Home</h1>

<%= link_to 'Alpha blog', articles_path %> |
<%= link_to 'About', about_path %>

<br>

<div class="jumbotron">
  <h1 id="blogtitle">Alpha Blog</h1>
  <p></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
