<div class="container">
    <footer class="footer">
        
        <div class="col-md-12 center">
    <%= link_to 'Homepage', root_path, class: "btn btn-primary btn-sm" %>
    </div>
        
        <small>
            Copyright &copy; <a href="http://www.imenalabs.ca">Imena Labs Ltd.</a>
            by <a href="https://github.com/frdb194">Freddy B.</a>
            
            <nav>
            <%= link_to "About", about_path %></nav>
        </small>
        
    </footer>
</div>