<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="http://www.imenalabs.ca">Imena Labs Ltd.</a>
            by <a href="https://github.com/frdb194">Freddy B.</a>
            
            <nav>
                <ul>
                    <li><%= link_to "About", about_path %></li>
                    
                </ul>
            </nav>
        </small>
        
    </footer>
</div>